.leftHalf {
    background: url('/PPL-A4/betterpet/image/dogcat.jpg') center center no-repeat;
    background-size:cover;
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
	border-right: 4px solid #61abd8;
}

.rightHalf {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    position: absolute;
    right: 0px;
}