body { 
    min-height: 100%;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom:0;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.panel-color{
	background-color: #3f8edd !important;
    color: white !important;
    text-decoration: none !important;
}

.font-header {
    text-transform: uppercase;
}

.login-error{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 5px;
    padding-left:4px;
    background-color: #f4917d;
    border-color: #e00707;
}

.row {
    padding: 0;
    margin: 0;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom-navbar{
    background-color:#61abd8;
    border-color:#61abd8;
    border-radius: 0px;
    color: #ffffff;
}
.custom-quote{
    border-left:5px solid #ff9fad;
    border-radius: 6px;
}
.home2{
    background-color: #f6f6f6;
}

.navbar-fixed-top .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-fixed-top .navbar-nav>li>a {
    height: 60px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */

}
#section6{
    background-color: #61abd8;
}
.sosial {
    margin-top: 3%;
    margin-bottom: 1%;
}

.sosial img {
    margin-left: 5px;
    margin-right: 5px;
}

.hrr {
    margin: 0;
    height: 1px;
    color:darkgray;
    background-color: darkgray;
}

.footer {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: white;
}

.register-button{
    margin-top:15px;
}
.register-row{
    margin-top:100px;
}
.register-form{
    border-radius: 0px;
    box-shadow: none;
    border: 2px solid #ff9fad;
    border-top: none;
    border-left: none;
    border-right: none;
}
.register-google-button{
    background-color:#db4a39;
}
.register-facebook-button{
    background-color:#3b5998;
}
.register-form:focus{
    box-shadow:none;
    -webkit-animation-name: registerform; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: registerform;
    animation-duration: 1s;
}
.register-h5{
    padding-left: 15px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes registerform {
    from {border: 2px solid #ff9fad;}
    to {border: 2px solid #66afe9;}
}

/* Standard syntax */
@keyframes registerform {
    from {border: 2px solid #ff9fad;}
    to {border: 2px solid #66afe9;}
}

.navbar-toggle{
	border: 1px solid white;
}
.navbar-toggle:hover{
	background-color:#D3D3D3;
	-webkit-animation-name: navbar-toggle-bar; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.3s; /* Chrome, Safari, Opera */
    animation-name: navbar-toggle-bar;
    animation-duration: 0.3s;
}
.navbar-toggle .icon-bar{
	background-color:white;
}
/* animation for navbar toggle bar */
@-webkit-keyframes navbar-toggle-bar {
    from {background-color: transparent;}
    to {
	background-color: #D3D3D3;
	}
}

/*navbar toggle bar*/
@keyframes navbar-toggle-bar {
    from {background-color: transparent;}
    to {background-color: #D3D3D3;}
}
.faq-jumbo{
	margin-top:50px;
}
.news{
	width:100%;
	padding-left:50px;
	padding-right:50px;
}
.news-thumbnail{
    border: 1px solid #3f8edd ;
    margin-bottom: 5%;
    border-radius: 5px;
    box-shadow: 0 10px 8px -8px black;
}

.form-group {
    margin-bottom: 25px;
}

/* untuk register #ffe4e1*/
.layout {
    background-color: white;
    padding: 2% 4% 2% 4%;
}

.register {
    background-color: #dfeef7;
}

.strikeThrough {
    position: relative;
    text-align: center;
    color: #a8a8a8;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    z-index: 10;
}

.strikeThrough:before {
    border-top: solid 1px #d8d8d8;
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    z-index: -1;
}

.strikeThrough span {
    background: #fff;
    padding: 0 10px;
}


.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.ava-caption {
    color: white;
    background: rgba(0,0,0,0.6);
    text-align: center;
    padding: 10px;
    max-width: 200px;
    min-width: 200px;
    left: auto;
    transform: translateY(-100%);
    bottom: initial;
}

.bg-grey {
      background-color: #f6f6f6;
  }

.carousel-control1.right, .carousel-control1.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators1 li {
      border-color: #f4511e;
  }
  .carousel-indicators1 li.active {
      background-color: #f4511e;
  }

.thumbnail-home {
    padding: 0px;
    margin-top: 5%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    z-index: 8;
}

.thumbnail-home img {
    width: 300px;
    height: 250px;
}
.adoption-section{
    margin-top:30px;
}
.img-adoption{
   height: 300px;
   width: 100%;
}
.shelter-adoption{
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 5px;
}

.circle {
	width: 200px;
	height: 200px;
	background: #96bbb3;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}