html, body { 
    height: 100%; 
    width: 100%;
    left: 0;
    top: 0;
    bottom:0;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

.font-header {

    text-transform: uppercase;
}
.login-error{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 5px;
    padding-left:4px;
    background-color: #f4917d;
    border-color: #e00707;
}
.row {
    padding: 0;
    margin: 0;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom-navbar{
    background-color:#61abd8;
    border-color:#61abd8;
    border-radius: 0px;
    color: #ffffff;
}
.custom-quote{
    border-left:5px solid #ff9fad;
    border-radius: 6px;
}
.home2{
    background-color:#ebebeb;
}

.navbar-fixed-top .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-fixed-top .navbar-nav>li>a {
    height: 60px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */

}


.sosial {
    margin-top: 3%;
    margin-bottom: 1%;
}


.sosial img {
    margin-left: 5px;
    margin-right: 5px;
}

.hrr {
    margin: 0;
    height: 1px;
    color:darkgray;
    background-color: darkgray;
}

.footer {
    margin-top: 3%;
    margin-bottom: 3%;
}

.register-button{
    margin-top:15px;
}
.register-row{
    margin-top:100px;
}
.register-form{
    border-radius: 0px;
    box-shadow: none;
    border: 2px solid #ff9fad;
    border-top: none;
    border-left: none;
    border-right: none;
}
.register-google-button{
    background-color:#db4a39;
}
.register-facebook-button{
    background-color:#3b5998;
}
.register-form:focus{
    box-shadow:none;
    -webkit-animation-name: registerform; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: registerform;
    animation-duration: 1s;
}
.register-h5{
    padding-left: 15px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes registerform {
    from {border: 2px solid #ff9fad;}
    to {border: 2px solid #66afe9;}
}

/* Standard syntax */
@keyframes registerform {
    from {border: 2px solid #ff9fad;}
    to {border: 2px solid #66afe9;}
}

.navbar-toggle{
	border: 1px solid white;
}
.navbar-toggle:hover{
	background-color:#D3D3D3;
	-webkit-animation-name: navbar-toggle-bar; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.3s; /* Chrome, Safari, Opera */
    animation-name: navbar-toggle-bar;
    animation-duration: 0.3s;
}
.navbar-toggle .icon-bar{
	background-color:white;
}
/* animation for navbar toggle bar */
@-webkit-keyframes navbar-toggle-bar {
    from {background-color: transparent;}
    to {
	background-color: #D3D3D3;
	}
}

/*navbar toggle bar*/
@keyframes navbar-toggle-bar {
    from {background-color: transparent;}
    to {background-color: #D3D3D3;}
}
.faq-jumbo{
	margin-top:50px;
}
.news{
	width:100%;
	padding-left:50px;
	padding-right:50px;
}
.news-thumbnail{
	margin-left:10px;
	margin-right:10px;
}

.form-group {
    margin-bottom: 25px;
}

/* untuk register */
.layout {
    background-color: white;
    padding: 2% 4% 2% 4%;
}

.register {
    background-color: #ffe4e1;
}

.strikeThrough {
    position: relative;
    text-align: center;
    color: #a8a8a8;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    z-index: 10;
}

.strikeThrough:before {
    border-top: solid 1px #d8d8d8;
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    z-index: -1;
}

.strikeThrough span {
    background: #fff;
    padding: 0 10px;
}


.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

.ava-caption {
    color: white;
    background: rgba(0,0,0,0.6);
    text-align: justify;
    padding: 10px;
    max-width: 200px;
    min-width: 200px;
    left: auto;
    transform: translateY(-100%);
    bottom: initial;
}