.line {
    width: 300px;
   height: 3px;
    /* Set the hr color */
    color: #f9b2b6; /* old IE */
    background-color: #f9b2b6; /* Modern Browsers */ 
}

.line2 {
    width: 800px;
   height: 3px;
    /* Set the hr color */
    color: #424242; /* old IE */
    background-color: #424242; /* Modern Browsers */ 
}

.team {
    margin-top: 40px;
}

.about {
    margin-top: 100px;
}

.desc {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

.img-team {
    margin-left: 3%;
}

.team-row {
    margin: 3% auto;
}

