.header {
  z-index: 1;
  position: relative;
}

.wrap {
    height: 650px;
    width: 100%;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    z-index: 8;
}

.wrap:after {
    content: "";
    position: absolute;
    height: 130%;
    width: 100%;
    transform: skewY(4deg);
    background: #cdc7f9; 
    top: -50%;
    z-index: -2;
    left: 0;
}
.lower {
    position: absolute;
    bottom: 20%;
    left: 0;
}

.thumbnail-home {
    padding: 0px;
    margin-top: 5%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    z-index: 8;
}

.thumbnail-home img {
    width: 100%;
}