html, body { 
    height: 100%; 
    width: 100%;
    left: 0;
    top: 0;
    bottom:0;
    margin: auto;
}

body {
    display: table;
}

.row {
    padding: 0;
    margin: 0;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom-navbar{
    background-color:#61abd8;
    border-color:#61abd8;
    border-radius: 0px;
    color: #ffffff;
}

.navbar-fixed-top .navbar-nav>li>a {
    color: #ffffff;
}

.sosial {
    margin-top: 3%;
}


.sosial img {
    margin-left: 5px;
    margin-right: 5px;
}

.hrr {
    width: 100%;
    height: 1px; 
    color:darkgray;
    background-color: darkgray;
}

.footer {
    margin-top: 4%;
    margin-bottom: 4%;
}

.register-button{
    margin-top:15px;
}
.register-row{
    margin-top:50px;
}
.register-form{
    border-radius: 0px;
    box-shadow: none;
    border: 2px solid #ff9fad;
    border-top: none;
    border-left: none;
    border-right: none;
}
.register-google-button{
    background-color:#db4a39;
}
.register-facebook-button{
    background-color:#3b5998;
}
.register-form:focus{
    box-shadow:none;
    -webkit-animation-name: registerform; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: registerform;
    animation-duration: 1s;
}
.register-h5{
    padding-left: 15px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes registerform {
    from {border: 2px solid #ff9fad;}
    to {border: 2px solid #66afe9;}
}

/* Standard syntax */
@keyframes registerform {
    from {border: 2px solid #ff9fad;}
    to {border: 2px solid #66afe9;}
}